<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-aswebauthentication"
        version="1.0.5">
    <name>ASWebAuthentication</name>
    <description>Cordova Plugin ASWebAuthentication API</description>
    <license>MIT</license>
    <keywords>ASWebAuthentication,iOS 11,iOS,oAuth,Single Sign on,Privacy</keywords>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/ASWebAuthSession.js" name="ASWebAuthSession">
            <runs/>
            <clobbers target="ASWebAuthSession" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="ASWebAuthSession">
                <param name="ios-package" value="ASWebAuthSession" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/ASWebAuthSession.h" />
        <source-file src="src/ios/ASWebAuthSession.m" />
    </platform>
</plugin>
